{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Edit Password{% endblock %}

{% block content %}
  <h2>Edit Password</h2>
  <form method="post">
    {% csrf_token %}
      {% bootstrap_form form %}
      <div id="container">
        <button type="submit">Apply</button>
        <a role="button" style="background-color: red" class="btn btn-primary my-2 my-sm-0" href="/user/{{ user.username }}">Abort</a>
    </div>
  </form>
{% endblock %}